In [10]:
#Notebook used for cleaning data
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import os
from pathlib import Path

For the first step in the project we must link the Zooniverse Manuscript to the Subject ID

In [12]:
#Loading in datasets that need to be linked
subject = pd.read_csv("Unprocessed Datasets\shakespeares-world-subjects.csv")
newsletters = pd.read_csv('Unprocessed Datasets\combined_newsletters.csv')

In [13]:
#Seperating the Filename ID from the metadata column in subject
subject['Filename'] = subject['metadata'].str.findall('\d+.jpg')
subject['Filename'].to_string()
subject['Filename'] = subject['Filename'].str[0]
subject.head()

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,Filename
0,1273522,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:46 UTC,2018-05-02 15:27:04 UTC,110499.jpg
1,1273523,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:47 UTC,2018-05-02 15:34:34 UTC,110500.jpg
2,1273524,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookery and ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:34:34 UTC,110501.jpg
3,1273525,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook [ma...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:26:11 UTC,110502.jpg
4,1273526,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook of ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:27:02 UTC,110503.jpg

In [14]:
#Seperating the Luna URL from the metadata column in subject
subject['Luna URL'] = subject['metadata'].str.findall('https:..luna.folger.edu.luna.servlet.detail.FOLGERCM1.{19}')
subject['Luna URL'].to_string()
subject['Luna URL'] = subject['Luna URL'].str[0]
subject['Luna URL'].head()

0    https://luna.folger.edu/luna/servlet/detail/FO...
1    https://luna.folger.edu/luna/servlet/detail/FO...
2    https://luna.folger.edu/luna/servlet/detail/FO...
3    https://luna.folger.edu/luna/servlet/detail/FO...
4    https://luna.folger.edu/luna/servlet/detail/FO...
Name: Luna URL, dtype: object

In [15]:
#Seperating the Hamnet URL from the metadata column in subject
subject['Hamnet URL'] = subject['metadata'].str.findall('https:..hamnet.folger.edu.cgi-bin.{26}')
subject['Hamnet URL'].to_string()
subject['Hamnet URL'] = subject['Hamnet URL'].str[0]
subject['Hamnet URL'].head()

0    https://hamnet.folger.edu/cgi-bin/Pwebrecon.cg...
1    https://hamnet.folger.edu/cgi-bin/Pwebrecon.cg...
2    https://hamnet.folger.edu/cgi-bin/Pwebrecon.cg...
3    https://hamnet.folger.edu/cgi-bin/Pwebrecon.cg...
4    https://hamnet.folger.edu/cgi-bin/Pwebrecon.cg...
Name: Hamnet URL, dtype: object

In [23]:
newsletters.head()

,Unnamed: 0,Filename,Priority,Title,Author,Origin,Call Number,Page Number,Page Sort,Genre,Luna URL,Hamnet URL
0,1,086370.jpg,6331,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1r,6379,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
1,2,086371.jpg,6332,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1v,6380,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
2,3,086372.jpg,6333,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2r,6381,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
3,4,086373.jpg,6334,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2v,6382,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
4,5,086377.jpg,6335,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2106,1r,6386,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...

In [17]:
merged = subject.merge(newsletters, how = 'inner', on = 'Filename')

#Dropping metadata column since it is redundant with the information in newletter dataset
merged = merged.drop(columns = 'metadata', axis = 1)
merged.head()

,subject_id,project_id,workflow_id,subject_set_id,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,...,Priority,Title,Author,Origin,Call Number,Page Number,Page Sort,Genre,Luna URL_y,Hamnet URL_y
0,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,6331,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1r,6379,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
1,11202805,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:17 UTC,2018-05-02 15:22:38 UTC,...,6332,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1v,6380,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
2,11202806,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:20:27 UTC,...,6333,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2r,6381,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
3,11202807,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:21:39 UTC,...,6334,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2v,6382,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
4,11202808,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:23:31 UTC,...,6335,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2106,1r,6386,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...

In [21]:
merged.to_csv("Processed Datasets\subjectid_newsletters.csv")

In [19]:
subject.to_csv('Processed Datasets\subjects_FileName.csv')

In [26]:
basepath = "Unprocessed Datasets\All Newsletters"
entries = Path(basepath)  
subject_id = []
transcription = []

In [35]:
for entry in entries.iterdir():
    subject_id.append(entry.name)
    new_path = basepath + '\\' +  entry.name + '\\'
    filepath = new_path + 'transcription.txt'
    f = open(filepath)
    lines = f.read()
    transcription.append(lines)

In [32]:
merged_list = [list(x) for x in zip(subject_id, transcription)]

In [37]:
df = pd.DataFrame(merged_list, columns = ['subject_id', 'transcription'])
df.to_csv("Processed Datasets\processed_newsletters.csv")