In [2]:
#Notebook used for cleaning data
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

For the first step in the project we must link the Zooniverse Manuscript to the Subject ID

In [3]:
#Loading in datasets that need to be linked
subject = pd.read_csv("shakespeares-world-subjects.csv")
newsletters = pd.read_csv('combined_newsletters.csv')

In [4]:
#Seperating the Filename ID from the metadata column in subject
subject['Filename'] = subject['metadata'].str.findall('\d+.jpg')
subject['Filename'].to_string()
subject['Filename'].head()

0    [110499.jpg]
1    [110500.jpg]
2    [110501.jpg]
3    [110502.jpg]
4    [110503.jpg]
Name: Filename, dtype: object

In [5]:
subject['Filename'] = subject['Filename'].str[0]
subject['Filename']
subject.head()

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,Filename
0,1273522,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:46 UTC,2018-05-02 15:27:04 UTC,110499.jpg
1,1273523,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:47 UTC,2018-05-02 15:34:34 UTC,110500.jpg
2,1273524,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookery and ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:34:34 UTC,110501.jpg
3,1273525,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook [ma...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:26:11 UTC,110502.jpg
4,1273526,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook of ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:27:02 UTC,110503.jpg

In [6]:
newsletters.head()

,Unnamed: 0,Filename,Priority,Title,Author,Origin,Call Number,Page Number,Page Sort,Genre,Luna URL,Hamnet URL
0,1,086370.jpg,6331,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1r,6379,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
1,2,086371.jpg,6332,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1v,6380,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
2,3,086372.jpg,6333,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2r,6381,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
3,4,086373.jpg,6334,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2v,6382,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
4,5,086377.jpg,6335,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2106,1r,6386,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...

In [7]:
merged = subject.merge(newsletters, how = 'inner', on = 'Filename')

#Dropping metadata column since it is redundant with the information in newletter dataset
merged = merged.drop(columns = 'metadata', axis = 1)
merged.head()

,subject_id,project_id,workflow_id,subject_set_id,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,...,Priority,Title,Author,Origin,Call Number,Page Number,Page Sort,Genre,Luna URL,Hamnet URL
0,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,6331,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1r,6379,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
1,11202805,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:17 UTC,2018-05-02 15:22:38 UTC,...,6332,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1v,6380,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
2,11202806,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:20:27 UTC,...,6333,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2r,6381,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
3,11202807,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:21:39 UTC,...,6334,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2v,6382,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
4,11202808,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:18 UTC,2018-05-02 15:23:31 UTC,...,6335,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2106,1r,6386,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...

In [8]:
merged.to_csv("newsletters_subjectid.csv")

In [9]:
#Loading classifications dataset
classifications = pd.read_csv("shakespeares-world-classifications.csv")
classifications.head()

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_id
0,2111926,not-logged-in-fc8ae6ef685dadeded5c,NaN,fc8ae6ef685dadeded5c,205,Subject type,6.9,2015-07-16 15:27:58 UTC,NaN,NaN,"{""started_at"":""2015-07-16T16:27:51+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""511586"":{""retired"":null,""file name"":""067650....",511586
1,2111927,not-logged-in-fc8ae6ef685dadeded5c,NaN,fc8ae6ef685dadeded5c,205,Subject type,6.9,2015-07-16 15:27:59 UTC,NaN,NaN,"{""started_at"":""2015-07-16T16:16:28+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""458922"":{""retired"":null,""imgname"":""getjpeg.a...",458922
2,2111946,not-logged-in-fc8ae6ef685dadeded5c,NaN,fc8ae6ef685dadeded5c,205,Subject type,6.9,2015-07-16 15:37:42 UTC,NaN,NaN,"{""started_at"":""2015-07-16T16:37:39+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""511586"":{""retired"":null,""file name"":""067650....",511586
3,2111947,not-logged-in-fc8ae6ef685dadeded5c,NaN,fc8ae6ef685dadeded5c,205,Subject type,6.9,2015-07-16 15:37:50 UTC,NaN,NaN,"{""started_at"":""2015-07-16T16:37:42+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""511587"":{""retired"":null,""file name"":""068416....",511587
4,2111970,not-logged-in-fc8ae6ef685dadeded5c,NaN,fc8ae6ef685dadeded5c,205,Subject type,6.9,2015-07-16 15:45:03 UTC,NaN,NaN,"{""started_at"":""2015-07-16T16:44:58+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""511588"":{""retired"":null,""file name"":""070750....",511588

In [10]:
test = merged.merge(classifications, how='left', on='subject_id')
test.head()

,subject_id,project_id,workflow_id_x,subject_set_id,locations,classifications_count,retired_at,retirement_reason,created_at_x,updated_at,...,user_ip,workflow_id_y,workflow_name,workflow_version,created_at_y,gold_standard,expert,metadata,annotations,subject_data
0,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,d7bc2e307411fffcce25,205.0,Subject type,10.14,2018-11-06 00:34:34 UTC,NaN,NaN,"{""started_at"":""2018-11-04T18:57:04+00:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11202804"":{""retired"":{""id"":16973623,""workflo..."
1,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,340fde11a2ac81863cf7,205.0,Subject type,10.14,2019-04-07 14:59:33 UTC,NaN,NaN,"{""started_at"":""2019-04-07T15:24:16+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11202804"":{""retired"":{""id"":16973623,""workflo..."
2,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,889ea84e6cb7ecf5d8e0,205.0,Subject type,10.14,2019-04-12 14:24:45 UTC,NaN,NaN,"{""started_at"":""2019-04-12T23:36:58+10:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11202804"":{""retired"":{""id"":16973623,""workflo..."
3,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,bf9380ff6b8e8dca97d7,205.0,Subject type,10.14,2019-04-25 10:00:08 UTC,NaN,NaN,"{""started_at"":""2019-04-25T19:57:57+10:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11202804"":{""retired"":{""id"":16973623,""workflo..."
4,11202804,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 11:52:16 UTC,2018-05-02 15:23:14 UTC,...,1ae0f3aa07f5cec8a850,205.0,Subject type,10.14,2019-05-07 12:27:40 UTC,NaN,NaN,"{""started_at"":""2019-05-06T07:10:14-05:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11202804"":{""retired"":{""id"":16973623,""workflo..."

In [11]:
test.to_csv("test.csv")

In [14]:
test.tail()

,subject_id,project_id,workflow_id_x,subject_set_id,locations,classifications_count,retired_at,retirement_reason,created_at_x,updated_at,...,user_ip,workflow_id_y,workflow_name,workflow_version,created_at_y,gold_standard,expert,metadata,annotations,subject_data
26992,11208941,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,...,1b19095a2b3eaa28a028,205.0,Subject type,10.14,2019-01-14 07:50:08 UTC,NaN,NaN,"{""started_at"":""2019-01-13T23:45:22-08:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11208941"":{""retired"":{""id"":16987715,""workflo..."
26993,11208941,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,...,48caf3604e5cf8c6c2cd,205.0,Subject type,10.14,2019-03-08 11:16:35 UTC,NaN,NaN,"{""started_at"":""2019-03-08T11:06:16+00:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11208941"":{""retired"":{""id"":16987715,""workflo..."
26994,11208941,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,...,1be0a1df18df7372e18f,205.0,Subject type,10.14,2019-03-28 12:03:12 UTC,NaN,NaN,"{""started_at"":""2019-03-28T07:13:15-04:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11208941"":{""retired"":{""id"":16987715,""workflo..."
26995,11208941,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,...,b5445277ee97308360c8,205.0,Subject type,10.14,2019-04-24 16:02:35 UTC,NaN,NaN,"{""started_at"":""2019-04-24T16:57:19+01:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11208941"":{""retired"":{""id"":16987715,""workflo..."
26996,11208941,376,NaN,13519,"{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,...,0838ee995f975e03f559,205.0,Subject type,10.14,2019-06-09 13:38:39 UTC,NaN,NaN,"{""started_at"":""2019-06-09T15:31:30+02:00"",""use...","[{""task"":""T0"",""value"":false},{""task"":""T2"",""val...","{""11208941"":{""retired"":{""id"":16987715,""workflo..."

In [15]:
len(pd.unique(merged['Filename']))

6133