In [2]:
#Notebook used for cleaning data
import numpy as np
import pandas as pd

For the first step in the project we must link the Zooniverse Manuscript to the Subject ID

In [3]:
#Loading in datasets that need to be linked
subject = pd.read_csv("shakespeares-world-subjects.csv")
newsletters = pd.read_csv('combined_newsletters.csv')
subject

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
0,1273522,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:46 UTC,2018-05-02 15:27:04 UTC
1,1273523,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:47 UTC,2018-05-02 15:34:34 UTC
2,1273524,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookery and ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:34:34 UTC
3,1273525,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook [ma...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:26:11 UTC
4,1273526,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook of ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:27:02 UTC
...,...,...,...,...,...,...,...,...,...,...,...
14325,11208937,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:48 UTC,2018-05-02 14:57:46 UTC
14326,11208938,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:49 UTC,2018-05-02 14:54:46 UTC
14327,11208939,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:49 UTC,2018-05-02 14:55:43 UTC
14328,11208940,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:57:29 UTC
14329,11208941,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC

subject['Filename'] = subject['metadata'].re.rsplit('\w')
subject['Filename']

In [4]:
#Seperating the Filename ID from the metadata column in subject
subject['Filename'] = subject['metadata'].str.findall('\d+.jpg')
subject['Filename'].to_string()
subject['Filename'].head()

0    [110499.jpg]
1    [110500.jpg]
2    [110501.jpg]
3    [110502.jpg]
4    [110503.jpg]
Name: Filename, dtype: object

In [5]:
subject['Filename'] = subject['Filename'].str[0]
subject['Filename']
subject

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at,Filename
0,1273522,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:46 UTC,2018-05-02 15:27:04 UTC,110499.jpg
1,1273523,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Receipt book...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:47 UTC,2018-05-02 15:34:34 UTC,110500.jpg
2,1273524,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookery and ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:34:34 UTC,110501.jpg
3,1273525,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook [ma...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:26:11 UTC,110502.jpg
4,1273526,376,2363.0,2776,"{""Genre"":""Receipt Books"",""Title"":""Cookbook of ...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2015-12-04 16:20:48 UTC,2018-05-02 15:27:02 UTC,110503.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...
14325,11208937,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:48 UTC,2018-05-02 14:57:46 UTC,092523.jpg
14326,11208938,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:49 UTC,2018-05-02 14:54:46 UTC,092524.jpg
14327,11208939,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:49 UTC,2018-05-02 14:55:43 UTC,092525.jpg
14328,11208940,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:57:29 UTC,092526.jpg
14329,11208941,376,NaN,13519,"{""Genre"":""Newsletters"",""Title"":""Newdigate fami...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2017-07-27 12:43:50 UTC,2018-05-02 14:55:31 UTC,092527.jpg

In [6]:
newsletters

,Unnamed: 0,Filename,Priority,Title,Author,Origin,Call Number,Page Number,Page Sort,Genre,Luna URL,Hamnet URL
0,1,086370.jpg,6331,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1r,6379,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
1,2,086371.jpg,6332,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,1v,6380,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
2,3,086372.jpg,6333,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2r,6381,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
3,4,086373.jpg,6334,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2104,2v,6382,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
4,5,086377.jpg,6335,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.2106,1r,6386,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
...,...,...,...,...,...,...,...,...,...,...,...,...
6128,6129,092523.jpg,12462,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.3948,1v,12532,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
6129,6130,092524.jpg,12463,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.3949,1r,12533,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
6130,6131,092525.jpg,12464,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.3949,1v,12534,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
6131,6132,092526.jpg,12465,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.3950,1r,12535,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...
6132,6133,092527.jpg,12466,Newdigate family collection of newsletters fro...,England and Wales. Secretary of State.,1673/4-1715,L.c.3950,1v,12536,Newsletters,http://luna.folger.edu/luna/servlet/detail/FOL...,http://hamnet.folger.edu/cgi-bin/Pwebrecon.cgi...

In [7]:
merged = subject.merge(newsletters, how = 'left', on = 'Filename')

In [8]:
merged.to_csv("newsletters_subjectid.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'